*
!/.gitignore

!/CMakeLists.txt
!/LICENSE
!/MANIFEST.in
!/README.md
!/pyproject.toml
!/setup.py
!/*.ps1
!/*.sh

!/.github/
!/.github/workflows/
!/.github/workflows/*.yaml
!/.github/workflows/*.yml

!/cmake/
!/cmake/*.cmake

!/ggpatcher/
!/ggpatcher/**/
!/ggpatcher/**/*.py

!/steelpatcher/
!/steelpatcher/**/
!/steelpatcher/**/*.py

!/steelupdater/
!/steelupdater/CMakeLists.txt
!/steelupdater/**/*.c
!/steelupdater/**/*.cc
!/steelupdater/**/*.cpp
!/steelupdater/**/*.cxx
!/steelupdater/**/*.h
!/steelupdater/**/*.hh
!/steelupdater/**/*.hpp
!/steelupdater/**/*.hxx

!/profiles/
!/profiles/*.json

!/patches/
!/patches/**/
!/patches/**/CMakeLists.txt
!/patches/**/*.json
!/patches/**/*.md
!/patches/**/*.ld
!/patches/**/*.S
!/patches/**/*.c
!/patches/**/*.h
!/patches/**/*.patch
!/patches/**/*.rules
